In [6]:
#Pandas 2: Dataframes
import pandas as pd
import numpy as np

In [7]:
data = {'nombre' : ['Yhoxin', 'Josmer', 'Génesis'],
        'carrera' : ['Sistemas', 'Diseño', 'Gastronomía'],
        'correo' : ['yhoxin@correo.com', 'josmerfurro@correo.com', 'gini20@correo.com']}

In [8]:
estudiantes = pd.DataFrame(data)
print(estudiantes)

    nombre      carrera                  correo
0   Yhoxin     Sistemas       yhoxin@correo.com
1   Josmer       Diseño  josmerfurro@correo.com
2  Génesis  Gastronomía       gini20@correo.com

In [9]:
df = pd.DataFrame([['Yhoxin', 22], ['Josmer', 21], ['Génesis', 21]],
                  columns = ['Nombre', 'Edad'])

print(df)

    Nombre  Edad
0   Yhoxin    22
1   Josmer    21
2  Génesis    21

In [10]:
fd = pd.DataFrame(np.random.randn(4, 3), columns = ['a', 'b', 'c'])
print (fd)

          a         b         c
0 -0.230224  1.095120  0.558397
1 -0.093836  0.276701  1.158568
2  0.737267 -1.318391 -1.186278
3  0.895713 -0.634894  0.988196